@charset "UTF-8";

/* Paleta de cores:
   azul-1:#02A8A7
   azul-2:#005ac2
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body, html {
    background-color: #005ac2;
    height: 100vh;
    width: 100vw;
}

main {
    height: 100vh;
    width: 100vw;
    position: relative;
}

section {
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.514);
}

section#login {
    background-color: white;
    height: 500px;
    width: 300px;
    
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    transition: width .3s, height .3s ;
    transition-timing-function: ease;
}

div#imagem {
    display: block;
    height: 200px;
    background: #3191ff93 url(../imagens/predio.jpg) no-repeat;
    background-size: contain;
    border-radius: 20px 20px 0px 0px;
}

div#formulario {
    padding: 15px;
}