@charset "UTF-8";

/* Paleta de cores:
   azul-1:#02A8A7
   azul-2:#005ac2
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body, html {
    background-color: #005ac2;
    height: 100vh;
    width: 100vw;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }

main {
    height: 100vh;
    width: 100vw;
    position: relative;
}

section {
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.514);
}

section#login {
    background-color: white;
    height: 500px;
    width: 250px;
    
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    transition: width .3s, height .3s ;
    transition-timing-function: ease;
}

div#imagem {
    display: block;
    height: 200px;
    background: #3191ff93 url(../imagens/predio.jpg) no-repeat;
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
}

div#formulario {
    display: block;
    padding: 15px;
}

div#formulario > h1 {
    text-align: center;
    padding-bottom: 10px;
}

div#formulario > p {
    text-align: justify;
}

form > div.campo {
    background-color: #005ac2;
    width: 100%;
    padding: 3px;
    margin: 5px 0px 5px 0px;
    border-radius: 5px;
}

label {
    display: none;
}

form > input[type=submit] {
    background-color: #02A8A7;
    color: white;
    width: 100%;
    display: block;
    border: none;
    border-radius: 5px;
    padding: 7px;
}

form > input[type=submit]:hover {
    background-color: #005ac2;
    cursor: pointer;
}

form > a.botao {
    background-color: white;
    color: #02A8A7;
    width: 100%;
    display: block;
    border: 1px solid #02A8A7;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    text-decoration: none;
    text-align: center;
}

form > a.botao:hover {
    border: 1px solid #005ac2;
    color: #005ac2;
    background-color: rgb(245, 245, 245);
}

form > a.botao > i {
    font-size: 0.8em;
}